<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>

    </pluginGroups>
    <proxies>
    </proxies>

    <servers>
    </servers>

    <mirrors>
        <mirror>
            <id>209</id>
            <mirrorOf>central</mirrorOf>
            <name>209</name>
            <url>http://192.168.12.209:8081/repository/maven-public/</url>
        </mirror>
    </mirrors>

    <profiles>

    </profiles>
</settings>
